# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/trucvanban
DB_USERNAME=postgres
DB_PASSWORD=postgres

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MinIO Configuration
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=trucvanban

# JWT Configuration
JWT_SECRET=cOMdNhU0GH49ggiNpZ4NF/KqiQDy4yAFCX3LOVzQulI=

# HMAC Master Key (dùng để mã/giải mã secret của api_keys trong DB)
# có thể để mặc định như này hoặc vào web: https://generate.plus/en/base64
# điều chỉnh lên 32bytes -> generate -> copy thay vào sau dấu =
HMAC_MASTER_KEY=dev-local-master-key-change-in-production